<h1><%= @presentation.title %></h1>

<ul class='slides'>
  <% @presentation.slides.each do |slide| %>
    <li><%= slide.feedback %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Add Next Feedback", new_presentation_slide_path %>
  <br>
  <%= link_to "Back to Presentations", presentations_path %>
</p>
