<!DOCTYPE html>
<html>
<head>
  <title>ListenLoop</title>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $( "#generate" ).on( "click", function() {
    alert('Generating Presentation...');
  });

    $( "#email" ).on( "click", function() {
    alert('Emailing to Client...');
  });
});
</script>
</body>
</html>
